/* Hero Section */
.hero {
  position: relative;
  overflow: hidden;
}

/* Hero Image Styling */
.hero-slide {
  position: relative;
  height: 90vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out; /* Smooth transition effect */
}

/* Overlay for darkening background */
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0.5, 0, 0, 0.7), rgba(0.5, 0, 0, 0.7)); /* Dark gradient */
  z-index: 1; /* Overlay should be above the background but behind the text */
}

/* Text Overlay */
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 2; /* Text should be above the overlay */
}

.hero-text h2 {
  font-size: 3rem;
  margin: 0;
}

.hero-text p {
  font-size: 1.5rem;
}

/* Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  transition:  0.3s ease;
}

.swiper-button-prev {
  left: 20px; /* Align to left */
}

.swiper-button-next {
  right: 20px; /* Align to right */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.7);
}
